# Dependency Directories
.DS_Store
node_modules
/dist

# Local Env Files
.env
.env.local
.env.*.local
.env.production

# Log Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor Directories & Files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase Files
src/firebase/config.ts
firebase.json
.firebaserc
.firebase
*-debug.log
.runtimeconfig.json

# Sentry Config
.env.sentry-build-plugin
package-lock.json
