
rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    // Make sure to write security rules for your app before that time, or else
    // all client requests to your Storage bucket will be denied until you Update
    // your rules.

    // Updated until the end of January.
    match /{allPaths=**} {
      allow read, write: if request.time < timestamp.date(2024, 01, 31); // TODO Revisit in January.
    }
  }
}
