name: Deploy as static Github Page

permissions:
  contents: write

on:
  push:
    branches:
      - GithubPages

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    # Check out the repository
    - name: Checkout repository
      uses: actions/checkout@v3

    # Set up Node.js
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 20.11

    # Install dependencies
    - name: Install dependencies
      run: npm i

    # Build the project
    - name: Build project
      run: npm run build

    # Deploy to GitHub Pages
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist
